.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-regular {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-regular-italic {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Spectral SC";
  font-weight: 800;
  font-style: italic;
  font-size: 2.5rem;
}

p {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #004d33;
}
header {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.hero {
  height: 100vh; /* Full screen height */
  background-image: url("https://gggp.org/wp-content/uploads/2023/11/hero_gettinghere.jpg");
  background-size: cover; /* Make the image cover the whole section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center;
  padding: 0 20px; /* Mobile friendly padding */
  color: white; /* Text color */
}

.hero-content {
  max-width: 600px; /* Keeps text readable */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 24px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

main {
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 2.5em;
  background-color: #004d33;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.fixed-image {
  width: 100%;
  height: 200px; /* Adjust as needed */
  object-fit: cover; /* Ensures images crop nicely */
  border-radius: 0.5rem 0.5rem 0 0; /* matches bootstrap card */
}
